#about-us {
    padding: 100px 0;
}
.about-image img {
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.about-text h4 {
    font-size: 42px;
}
.about-text p {
    font-size: 14px;
    color: #666666;
}
.about-text {
    margin-left: 30px;
}
