@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif !important;
}
 
/* Extra small Device. */
@media (max-width: 600px) {
    .hero-part h3 {
        font-size: 30px !important;
    }
    .top-contact h5, .location h5 {
        font-size: 12px !important;
    }
    .top-contact span, .location span {
        font-size: 11px !important;
        display: block;
    }
    .about-text {
        margin: 0 !important;
        padding-top: 30px;
    }
}