.banner-section{
    padding: 80px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-part {
    background: #fff;
    padding: 60px;
}
.banner-part h3 {
    font-size: 66px;
    color: #262626;
    font-weight: 600;
}
.banner-part h3 span{
    color: #ff436b;
}
.banner-part h5 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}
.banner-part h5 a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.banner-part h5::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    background: #b9b9b9;
    bottom: 0;
    left: 0;
    border-radius: 30px;
}
.banner-part p {
    margin: 0;
    font-size: 14px;
    color: #7c7c7c;
}